.upper {
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.upper1 {
  display: flex;
  width: 30%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-right: 20px;
}

.ViewSaleButton {
  background-color: #7367f0;
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.upper1Image {
  margin-top: 20px;
  padding-top: 30px;
}

.upper2 {
  width: 70%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.statistics-and-reporting-time {
  display: flex;
  box-sizing: border-box;
}

.reporting-time {
  margin-left: auto;
  color: #acaab1;
  box-sizing: border-box;
}

.upper2chart {
  display: flex;
  align-items: center;
}

.upper2chart1 {
    display: flex;
    align-items: center; /* Vertical Center */
    gap: 15px;  
  
}

.upper2chart2 {
    display: flex;
    align-items: center; /* Vertical Center */
    gap: 15px;  
}

.upper2chart3 {
    display: flex;
    align-items: center; /* Vertical Center */
    gap: 15px;  
}
}

.upper2chart4 {
    display: flex;
    align-items: center; /* Vertical Center */
    gap: 15px;  
}

.upper2chart1icon {
    width: 48px;
    height: 48px;
    background-color: rgba(115, 103, 240, 0.16);
    color: #7367f0;
    border-radius: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.upper2chart1text {
  width: 13%; 
  margin-left: auto;
  margin: 10px;
}

.upper2chart2icon {
    width: 48px;
    height: 48px;
    background-color: #d6f4f8;
    color: #00bad1;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.upper2chart2text {
  width: 13%; 
  margin-left: auto;
  
}

.upper2chart3icon {
    width: 48px;
    height: 48px;
    background-color: #ffe2e3;
    color: #ff4c51;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.upper2chart3text {
  width: 13%; 
  margin-left: auto;
  margin: 10px;
}

.upper2chart4icon {
    width: 48px;
    height: 48px;
    background-color: #ddf6e8;
    color: #28c76f;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.upper2chart4text {
  width: 13%; 
  margin-left: auto;
  margin: 10px;
}

.icon {
      color:#7367f0;
}

@media screen and (max-width: 800px) {
  .upper2chart1, .upper2chart2, .upper2chart3, .upper2chart4 {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}